POSTGRES_HOST=fa-postgres
POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

REDIS_HOST=fa-redis
REDIS_DSN=redis://${REDIS_HOST}:${REDIS_PORT}

ELASTIC_HOST=fa-elasticsearch
ELASTIC_DSN=http://${ELASTIC_HOST}:${ELASTIC_PORT}

API_HOST=nginx
API_SERVICE_URL=http://${API_HOST}